<div class="modal-body p-5">
  <div class="text-xxxl font-wght-900 text-center f-lato mt-3 mb-3">Party Details</div>
  <form [formGroup]="addPartyForm" (ngSubmit)="addPartyDetails(addPartyForm)">
      <label class="text-left mb-0 text-dark font-wght-700 text-md f-lato">Name</label>
      <input type="text" placeholder="John" formControlName="name">
      <label class="text-left mb-0 text-dark font-wght-700 text-md f-lato">Contact Number</label>
      <input type="text" placeholder="98765433456" formControlName="contactNumber">
      <button class="btn btn-primary-rounded btn-block mt-3 w-100 mx-auto" [disabled]="!addPartyForm.valid">Register Party</button>
      <p class = "text-light mx-auto text-center pointer mt-3" (click)="cancel()">Cancel</p>
  </form>
</div>