<div class="modal-body p-5">
  <div class="text-xxxl font-wght-900 text-center f-lato mt-3 mb-3">Election Details</div>
  <form [formGroup]="addElectionForm" (ngSubmit)="addElectionDetails(addElectionForm)">
      <label class="text-left mb-0 text-dark font-wght-700 text-md f-lato">Constituency</label>
      <input type="text" placeholder="John" formControlName="constituency">
      <label class="text-left mb-0 text-dark font-wght-700 text-md f-lato">Party</label>
      <input type="text" placeholder="BJP" formControlName="party">
      <label class="text-left mb-0 text-dark font-wght-700 text-md f-lato">Candidate</label>
      <input type="text" placeholder="Delhi" formControlName="candidate">
      <label class="text-left mb-0 text-dark font-wght-700 text-md f-lato">Symbol</label>
      <input type="text" placeholder="Delhi" formControlName="symbol">
      <button class="btn btn-primary-rounded btn-block mt-3 w-100 mx-auto" [disabled]="!addElectionForm.valid">Register Election</button>
      <p class = "text-light mx-auto text-center pointer mt-3" (click)="cancel()">Cancel</p>
  </form>
</div>